<%if  obj.errors.any?%>
<!-- this partial has been moved apart to be call from whichever controller that's because the obj variable has that generic name -->
	<div class="alert alert-danger alert-dismissible fade show" role="alert">
		<h3>There are some errors</h3>
		<div class="">
			<% obj.errors.full_messages.each do |error|%>
				<li class="text-danger"><%=error%></li> 
			<%end%>	
		</div>
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
		  <span aria-hidden="true">&times;</span>
		</button>
	</div>
<%end%>