@import "~bootstrap/scss/bootstrap";


/*rule to center an element*/

.center-element{
	margin: 0 auto !important;
	width: 80%;
}

.principal-margin{
  margin-top:  80px !important;
}

#main-container{
	margin-top:  60px !important;

}

#logo{
	/*float: left;*/
	background-image: url("../images/logo.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 451px;
}

/*pagination styling*/

.apple_pagination {
  background: #f1f1f1;
  border: 1px solid #e5e5e5;
  text-align: center;
  padding: 1em;
  cursor: default; }
  .apple_pagination a, .apple_pagination span {
    padding: 0.2em 0.3em; }
  .apple_pagination .disabled {
    color: #aaaaaa; }
  .apple_pagination .current {
    font-style: normal;
    font-weight: bold;
    background-color: #bebebe;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.5;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px; }
  .apple_pagination a {
    text-decoration: none;
    color: black; }
    .apple_pagination a:hover, .apple_pagination a:focus {
      text-decoration: underline; }

/*sticky footer styles*/
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #212529;
  color: #ffffff;
}

/*
the rules down this line defines heigth for text area control 
*/
.text-area-height{
  height: 200px !important;
}